<h1>Create a New Landmark</h1>

<form action="/landmarks" method="POST">
<p><label>Name: <input type="text" name="landmark[name]" id="landmark_name"></label></p>
<p><label>Year Completed: <input type="integer" name="landmark[year_completed]" id="landmark_year_completed"></label></p>

<input type="submit" id="Create New Landmark">
	



</form>